{% extends 'base.html' %}

{% block title %}
  <title>{{ movie.title }}</title>
{% endblock title %}

{% block content %}
  <h1 class="d-flex justify-content-center">{{ movie.title }}</h1>
  <hr>
  <p><b>작성자 : {{ movie.user }}</b></p>
  <p>제목 : {{ movie.title }}</p>
  <p>내용 : {{ movie.description }}</p>
  {% if request.user == movie.user %}
    <a href="{% url 'movies:update' movie.pk %}">UPDATE</a>
    <form action="{% url 'movies:delete' movie.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
  <hr>
  <a href="{% url 'movies:index' %}">Back</a>
  <hr>
  <h4>Comments</h4>
  {% if comments %}
    <p>There are {{ comments|length }} comments.</p>
  {% endif %}
  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.user }} - {{ comment.content }}
        {% if request.user == comment.user %}
          <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <li>No comments yet.</li>
    {% endfor %}
  </ul>
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'movies:comments_create' movie.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit" value="Submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">Log in to write comment.</a>
  {% endif %}
{% endblock content %}
